/* The BigYellowButton code is attributed to http://fxexperience.com/2011/12/styling-fx-buttons-with-css/ */
.BigYellowButton {
    -fx-background-color:
            #ecebe9,
            rgba(0,0,0,0.05),
            linear-gradient(#dcca8a, #c7a740),
            linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
            linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: #311c09;
}
.BigYellowButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

.buttonHover:hover {
    -fx-background-color:
            #ecebe9,
            rgba(0,0,0,0.05),
            linear-gradient(#dbb986, #dba95e),
            linear-gradient(#ffe6bf 0%, #ffd89e 20%, #ffc670 80%, #ffaf38 100%),
            linear-gradient(#ffdfad, #ffaf38);
}

.buttonHover:pressed {
    -fx-background-color:
            #ecebe9,
            rgba(0,0,0,0.05),
            linear-gradient(#dba95e, #dbb986),
            linear-gradient(#ffaf38 100%, #ffc670 80%, #ffd89e 20%, #ffe6bf 0%),
            linear-gradient(#ffaf38, #ffdfad);
}

.grow:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

.grow:pressed {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
}